doctype html
html
	head
		title Resume Arpad Borsos
		style
			include resume.css
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width")
	body
		header
			h1 Arpad Borsos, MSc
			h2 Software Engineer
			h3 born 24.11.1986
			.portrait
			.contact.
				Karmarschgasse 54B/14<br>
				1100 Wien<br>
				Austria<br>
				+43 680 2459289<br>
				<a href="mailto:arpad.borsos@googlemail.com">arpad.borsos@googlemail.com</a><br>
				<a href="https://github.com/Swatinem">github.com/Swatinem</a>
		section.profile
			h1.left Profile
			p.
				An enthusiastic, perfectionist software engineer who loves to learn new
				things, work on free software and create minimalist, elegant and
				beautiful software solutions. Speaks german, english and hungarian
				fluently.
		section.skills
			h1.left Skills
			dl
				dt Software Engineering
				dd.
					Has been instrumental completing projects independently or in a
					large distributed team.
				dt Web Development
				dd.
						Strong experience with web technologies for over 12 years.
						Always on the leading edge of the technology.
		section.technical
			h1.left Technical
			ul
				li JavaScript
				li node.js
				li HTML5/CSS3
				li C/C++
				li PHP
				li Python
				li MongoDB
				li MySQL/PostgreSQL
				li Linux
				li component
				li git/mercurial
				li make
		section.education
			h1.left Education
			.edu
				.date 2012
				| Master of Science in Engineering
				.univ University of Applied Sciences Technikum Wien
				.thesis.
					Sensible Code Completion for JavaScript
					Using Advanced Type Inference
			.edu
				.date 2010
				| Bachelor of Science in Engineering
				.univ Salzburg University of Applied Sciences
				.thesis.
					WebGL as an alternative to platform-specific 3D APIs
			.edu
				.date 2007
				| Abitur
				.univ Karlsgymnasium Bad Reichenhall
				.thesis.
					Computer program to simulate radioactive decay
		section.strength
			h1.left Strength
			ul
				li quick learner
				li perfectionist
				li enthusiastic about technology
				li gets things done quickly and thoroughly

		h1.pagebreak Voluntary Experience
		section.experience
			.employer
				h2 Mozilla – Volunteer
				h3.left 2008 – present
				:markdown
					* co-developed and maintained the developer dashboard at
					[tbpl.mozilla.org](https://tbpl.mozilla.org)
					* *tbpl* is used every day by Mozilla developers and is mission-critical
					* every code change needs to pass through *tbpl* to land in *Firefox*
					* “Your code has had a massive impact at Mozilla. The fact that one
					dashboard has changed the \*entire engineering workflow\* is incredible”
					* cleaned up large portions of *C/C++* and the *make* based build system
					* implemented autoscrolling for `overflow: auto` elements
					* contributed to *dehydra* and *pymake*
					* worked together with a large group of distributed developers
			.employer
				h2 Various free software projects – Volunteer
				h3.left 2002 – present
				:markdown
					* optimized [gtksourceview](https://bugzilla.gnome.org/show_bug.cgi?id=710973),
					leading to a 4x speedup in certain cases
					* regular speaker at the [ViennaJS](http://www.meetup.com/viennajs/) meetup
					* member of the [component](https://github.com/component) team on github,
					contributed to several components and related tools
					* achieved a ~100% speedup inside the *node-mongodb-native* driver
					* contributed extension support and extensions to the *node-openid*
					library
					* contributed fixes and infrastructure to the *esprima* JavaScript parser
					* contributed support for classes to the *harmonizr* ECMAScript transpiler
					* designed and implemented a complete rest-ful web framework in *PHP*
					* various contributions to free software projects, see
					[github.com/Swatinem](https://github.com/Swatinem)
					* several packages published on [npm](https://npmjs.org/~swatinem)
			.employer
				h2 Masters Thesis
				h3.left 2012
				:markdown
					* learned a lot about static program analysis
					* implemented a type inference in and for *JavaScript*
					* type inference is used in a *gedit* code completion plugin written
					in *Python*
					* using the code completion in daily work
			.employer
				h2 Bachelors Thesis
				h3.left 2010
				:markdown
					* learned a lot about 3D rendering and *OpenGL*
			.employer
				h2 gangwars.de – Volunteer
				h3.left 2003 – 2004
				:markdown
					* rewrote and redesigned large parts of the browser-based massive
					multiplayer online game [gangwars.de](http://www.gangwars.de/) written in *PHP*
			.employer
				h2 <a href="http://powerscripts.org">powerscripts.org</a> – Volunteer
				h3.left 2002 – 2005
				:markdown
					* designed and implemented a complete system to manage downloads in *PHP*
					* developed a visitor counting and site ranking system
			.employer
				h2 Various videogame related websites
				h3.left 2001 – 2006
				:markdown
					* designed and managed *swat4ever.de*, *renegade-planet.de*,
					*quake4center.de*, *generals-world.de* and *rts-planet.de*
					in association with [gamesweb.com](http://www.gameswelt.de/) and
					*planet-multiplayer.de*

		h1.pagebreak Paid Work Experience
		section.experience
			.employer
				h2 Ubergrape GmbH - Senior Frontend Lead
				h3.left 2013 - 2014
				:markdown
					* optimized an AngularJS app for performance, achieving a 20x speedup
					* Worked as primary frontend developer on
					[chatgrape](https://chatgrape.com/)
			.employer
				h2 UBIMET GmbH – Software Developer
				h3.left 2012 – 2013
				:markdown
					* designed and implemented an internal dashboard to query and analyze
					meteorological parameters which is invaluable to other team members
					* designed and implemented a highly extensible form used to enter
					data associated with geo-referenced features
					* worked on weather-related web-sites in *JavaScript*, *PHP*, *Python*
					and some *node.js* tools
					* aquired strong experience working with GIS data and mapping tools
			.employer
				h2 Blue Monkeys GmbH – Freelancer
				h3.left 2011
				:markdown
					* worked in a team on [meinKauf.at](http://www.meinkauf.at) using
					*CakePHP*
			.employer
				h2 Salzburg Research – Internship
				h3.left 2010
				:markdown
					* implemented an editor for semantic ontologies using *GWT/Java*
			.employer
				h2 Salzburg University of Applied Sciences – Internship
				h3.left 2009
				:markdown
					* implemented several plugins for the *Moodle* e-learning platform in *PHP*
					* designed and implemented a software used for printing stundent id-cards
			.employer
				h2 bgl-medien.de – Freelancer
				h3.left 2006
				:markdown
					* designed the layout of the former website
					* wrote the complete cms in *PHP*

