!!! 5
html
	head
		title Resume Arpad Borsos
		include resume.css
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width")
	body
		header
			h1 MSc Arpad Borsos
			h2 Software Engineer
			.portrait
			.contact.
				Karmarschgasse 54B/14
				1100 Wien
				Austria
				+43 680 2459289
				<a href="mailto:arpad.borsos@googlemail.com">arpad.borsos@googlemail.com</a>
				<a href="https://github.com/Swatinem">github.com/Swatinem</a>
		section.profile
			h1 Profile
			p.
				An enthusiastic, perfectionist software engineer who loves to learn new
				things, work on free software and create minimalist, elegant and
				beautiful software solutions. Speaks german, english and hungarian
				fluently.
		section.skills
			h1 Skills
			table
				tr
					th Software Engineering
					th Web Development
				tr
					td.
						Has realized important projects independently or in large distributed teams
					td.
						Strong experience with web technologies since 10 years.
						Always on the leading edge of the technology.
		section.technical
			h1 Technical
			ul
				li JavaScript
				li PHP
				li C/C++
				li Python
				li HTML5/CSS3
				li node.js
				li component
				li MongoDB
				li PostgreSQL
				li Linux
				li git/mercurial
				li make
		section.education
			h1 Education
			h2
				.date 2012
				| Master of Science in Engineering
				.univ University of Applied Sciences Technikum Wien
				.thesis.
					Sensible Code Completion for JavaScript
					Using Advanced Type Inference
			h2
				.date 2010
				| Bachelor of Science in Engineering
				.univ Salzburg University of Applied Sciences
				.thesis.
					WebGL as an alternative to platform-specific 3D APIs
			h2
				.date 2007
				| Abitur
				.univ Karlsgymnasium Bad Reichenhall
				.thesis.
					Computer program to simulate radioactive decay
		section.strength
			h1 Strength
			ul
				li quick learner
				li perfectionalist
				li enthusiastic about technology
				li gets things done quickly

		h1.pagebreak Experience
		section.experience
			h1 2012 – present
			h2 UBIMET GmbH – Software Developer
			:markdown
				* designed and implemented an internal dashboard to query and analyze
				meteorological parameters which is invaluable to other team members
				* designed and implemented a highly extensible form used to enter
				data associated with geo-referenced features
				* working on weather-related web-sites in *JavaScript*, *PHP*, *Python*
				and some *node.js* tools
				* aquired strong experience working with GIS data and mapping tools
			h1 2008 – present
			h2 Mozilla – Volunteer
			:markdown
				* co-developed and maintained the developer dashboard at
				[tbpl.mozilla.org](https://tbpl.mozilla.org)
				* *tbpl* is used every day by Mozilla developers and is mission-critical
				* every code change needs to pass through *tbpl* to land in *Firefox*
				* “Your code has had a massive impact at Mozilla. The fact that one
				dashboard has changed the \*entire engineering workflow\* is incredible”
				* cleaned up large portions of *C/C++* and the *automake* based build system
				* implemented autoscrolling for `overflow: auto` elements
				* worked together with a large group of distributed developers
			h1 2002 – present
			h2 Various free software projects – Volunteer
			:markdown
				* achieved a ~100% speedup inside the *node-mongodb-native* driver
				* contributed extension support and extensions to the *node-openid*
				library
				* contributed fixes and infrastructure to the *esprima* JavaScript parser
				* contributed support for classes to the *harmonizr* ECMAScript transpiler
				* designed and implemented a complete rest-ful web framework in *PHP*
				* various contributions to free software projects, see
				[github.com/Swatinem](https://github.com/Swatinem)
			h1 2012
			h2 Masters Thesis
			:markdown
				* learned a lot about static program analysis
				* implemented a type inference in and for *JavaScript*
				* type inference is used in a *gedit* code completion plugin written
				in *Python*
				* using the code completion in daily work
			h1 2010
			h2 Bachelors Thesis
			:markdown
				* learned a lot about 3D rendering and *OpenGL*
			h1 2010
			h2 Salzburg Research – Internship
			:markdown
				* implemented an editor for semantic ontologies using *GWT/Java*
			h1 2009
			h2 Salzburg University of Applied Sciences – Internship
			:markdown
				* implemented several plugins for the *Moodle* e-learning platform in *PHP*
				* designed and implemented a software used for printing stundent id-cards
			h1 2002 – 2003
			h2 gangwars.de – Volunteer
			:markdown
				* rewrote and redesigned large parts of the browser-based massive
				multiplayer online game [gangwars.de](http://www.gangwars.de/) written in *PHP*
			h1 2002 – 2005
			h2 <a href="http://powerscripts.org">powerscripts.org</a> – Volunteer
			:markdown
				* designed and implemented a complete system to manage downloads in *PHP*
				* developed a visitor counting and site ranking system
			h1 2001 – 2006
			h2 Various videogame related websites
			:markdown
				* designed and managed *swat4ever.de*, *renegade-planet.de*,
				*quake4center.de*, *generals-world.de* and *rts-planet.de*
			//in association with [gamesweb.com](http://www.gameswelt.de/)

